* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(223, 177, 205),
    rgb(60, 58, 131)
  );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

section {
  display: block;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: auto;
}

p {
  margin: 16px 0;
  line-height: 1.5;
}

header {
  /*   text-align: center; */
  min-height: 100vh;
  /*   background: url("https://source.unsplash.com/JdlIfpb9dgM/") no-repeat fixed
    center center/cover; */
  background: linear-gradient(
        45deg,
        rgba(100, 216, 243, 0.6),
        rgba(223, 177, 205, 0.6),
        rgba(60, 58, 131, 0.6),
        rgba(234, 236, 198, 0.6),
        rgba(245, 146, 176, 0.6),
        rgba(52, 219, 216, 0.6)
      )
      0 0 / 1000% no-repeat,
    url("https://source.unsplash.com/JdlIfpb9dgM/") 0 0 / cover no-repeat;
  -webkit-animation: gradient 40s ease infinite;
  animation: gradient 40s ease infinite;
  /* 
  color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%; */
}
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  /*   margin: 0;
  padding: 0;
  background-color: rgba(216, 194, 212, 0.596);
  /* min-width: 1200px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  transition: 0.4s;
  color: azure;*/
}
header .container {
  padding: 2.5rem;
}

header nav ul {
  list-style-type: none;
  margin: 16px 32px;
}

header nav ul li {
  display: inline-block;
  padding: 0 16px;
}

header a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}
.image {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

/* #hero-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #hero-banner {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
        45deg,
        rgba(255, 175, 189, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(245, 146, 176, 0.7),
        rgba(52, 219, 216, 0.7)
      )
      0 0 / 1000% no-repeat,
    url("https://source.unsplash.com/JdlIfpb9dgM/") 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
} */
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}
#hero-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 600 72px/1 "Open Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
}

/* #hero-banner h2 {
  height: 50vh;
  font-family: "Lora", serif;
  font-size: 34px;
  text-align: center;
  color: white;
  animation: slideIn 3s left;
} */

/* main .container.box {
  width: 350px;
  height: 250px;
  background-color: azure;
  position: relative;
  top: 0;
  z-index: 2;
  margin: 0;
  display: inline-block;
} */
#past,
#present,
#future {
  padding: 50px;
  min-height: 500px;
}

#past .boxes {
  display: flex;
  justify-content: space-between;
}

#past .box {
  background-color: rgb(223, 177, 205) /* rgb(197, 156, 199) */;
  width: 30%;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgb(223, 177, 205);
}

#past .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#past .box:hover {
  box-shadow: 3px 3px 15px 5px rgb(223, 177, 205);
}
#future img {
  float: left;
  margin: 1rem 3rem 1rem 0;
}

#present img {
  float: right;
  margin: 1rem 0 1rem 3rem;
}

footer {
  background-color: linear-gradient(
    to bottom,
    rgb(223, 177, 205),
    rgb(60, 58, 131)
  );
  text-align: center;
  color: rgba(255, 255, 255, 0.925);

  padding: 8px;
}

footer form {
  margin: 0 auto;
  width: 45%;
  text-align: left;
  display: inline-block;
  font-size: 1rem;
}

footer form input,
textarea {
  width: 100%;
  margin: 5px 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
footer form textarea {
  min-height: 50vh;
}

footer form button {
  background-color: rgb(58, 192, 140);
  border: none;
  outline: none;
  margin: 0 44%;
  padding: 7px 15px;
  color: white;
  border-radius: 5px;
  font-size: inherit;
}
footer form button:hover {
  background-color: darkgoldenrod;
  border: none;
  outline: none;
  color: white;
}
footer .copyright {
  margin-top: 32px;
  font-size: 12px;
}
/* reponsive mobile mode*/
@media (max-width: 568px) {
  #main-nav {
    display: block;
  }

  header nav ul li {
    padding: 2rem;
  }
  #hero-banner h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
  }

  #past .boxes {
    display: block;
  }
  #past .box {
    width: 100%;
    margin: 1rem 0;
  }

  #present,
  #past,
  #future {
    padding: 1rem;
  }
  #present img,
  #future img {
    width: 100%;
    height: 15rem;
    margin: 1rem 0;
    object-fit: cover;
  }
  footer {
    width: 100%;
    display: block;
  }
}
/*Tablet support*/
@media (max-width: 720px) {
  #main-nav nav {
    display: block;
  }
  header nav ul li {
    display: flex;
    padding: 1rem 0;
  }
  #hero-banner {
    height: 20vh;
  }
} ;
